<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean name="emp1" class="java_spring.com.entity.Employee" autowire="byType" scope="prototype">
		<property name="id" value="1"/>
		<property name="name" value="Amar Giri"/>
		<property name="gender" value="Male"/>
		<property name="salary" value="250000"/>
	</bean>
	
	<bean name="add1" class="java_spring.com.entity.Address">
		<constructor-arg name="city" value="Meerut"/>
		<constructor-arg name="state" value="UP"/>
	</bean>
	
</beans>