<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- bean definitions here -->

	<bean name="add1" class="java_spring.com.entity.Address">
		<property name="city" value="Meerut" />
		<property name="state" value="UP" />
	</bean>

	<bean name="emp1" class="java_spring.com.entity.Employee">
		<property name="id" value="1" />
		<property name="name" value="Amar Giri" />
		<property name="gender" value="Male" />
		<property name="salary" value="250000" />
		<property name="address" ref="add1" />
		<property name="list">
			<list>
				<value>1</value>
				<value>2</value>
				<value>3</value>
				<value>4</value>
				<value>5</value>
				<value>6</value>
				<value>7</value>
				<value>8</value>
				<value>9</value>
			</list>
		</property>
		
		<property name="set">
			<set>
				<value>1</value>
				<value>2</value>
				<value>3</value>
				<value>4</value>
				<value>5</value>
				<value>6</value>
				<value>7</value>
				<value>8</value>
				<value>9</value>
			</set>
		</property>
		
		<property name="map">
			<map>
				<entry key="111111" value="Amar" />
				<entry key="222222" value="Amar" />
				<entry key="333333" value="Amar" />
				<entry key="444444" value="Amar" />
				<entry key="555555" value="Amar" />
				<entry key="666666" value="Amar" />
				<entry key="777777" value="Amar" />
				<entry key="888888" value="Amar" />
				<entry key="999999" value="Amar" />
			</map>
		</property>
	</bean>


	<bean name="add2" class="java_spring.com.entity.Address">
		<constructor-arg name="city" value="Noida" />
		<constructor-arg name="state" value="UP" />
	</bean>

	<bean name="emp2" class="java_spring.com.entity.Employee">
		<constructor-arg name="id" value="2" />
		<constructor-arg name="name" value="Aayushi" />
		<constructor-arg name="gender" value="Female" />
		<constructor-arg name="salary" value="250000" />
		<constructor-arg name="address" ref="add2" />
		<constructor-arg name="list">
			<list>
				<value>1</value>
				<value>2</value>
				<value>3</value>
				<value>4</value>
				<value>5</value>
				<value>6</value>
				<value>7</value>
				<value>8</value>
				<value>9</value>
			</list>
		</constructor-arg>
		
		<constructor-arg name="set">
			<set>
				<value>1</value>
				<value>2</value>
				<value>3</value>
				<value>4</value>
				<value>5</value>
				<value>6</value>
				<value>7</value>
				<value>8</value>
				<value>9</value>
			</set>
		</constructor-arg>
		
		<constructor-arg name="map">
			<map>
				<entry key="111111" value="Aayushi" />
				<entry key="222222" value="Aayushi" />
				<entry key="333333" value="Aayushi" />
				<entry key="444444" value="Aayushi" />
				<entry key="555555" value="Aayushi" />
				<entry key="666666" value="Aayushi" />
				<entry key="777777" value="Aayushi" />
				<entry key="888888" value="Aayushi" />
				<entry key="999999" value="Aayushi" />
			</map>
		</constructor-arg>
	</bean>
</beans>